.PopupWizardPanelContent textarea, 
.PopupWizardPanelContent input[type="text"] {
  width: 100%;
}

.PopupWizardPanelContent textarea {
  min-height: 100px;
}
/*div.cs {*/
/*  background: antiquewhite;*/
/*  !*top: event.clientY+20;*!*/
/*  !*left: event.clientX+20;*!*/
/*  position: absolute;*/
/*  !*opacity: 0;*!*/
/*  display: none;*/
/*  font-size: 14px;*/
/*  z-index:9999;*/
/*  border-radius: 4px;*/
/*  !*left: event.x;*!*/
/*  !*top: event.y;*!*/
/*}*/
.cs {
  background: #ADD8E6;
  /*top: event.clientY+20;*/
  /*left: event.clientX+20;*/
  position: absolute;
  /*opacity: 0;*/
  display: none;
  font-size: 14px;
  z-index:9999;
  border-radius: 4px;
  /*left: event.x;*/
  /*top: event.y;*/
}